<section class="flex space-x-4">
  <div div class="w-80">
    <ul>
      <li class="class=hover:underline">
        <a routerLink="/" href="">All</a>
      </li>
      @for (category of categories(); track category) {
        <li class="hover:underline">
          <a routerLink="/" [queryParams]="{category_id: category.id}" href=""
            >{{category.name}}</a
            >
          </li>
        }
      </ul>
    </div>

    <div class="grid w-full grid-cols-4 gap-6 mt-5">
      @for (product of products(); track product) {
        <app-product
          [product]="product"
          (addToCart)="onAddToCart($event)"
          />
      }
    </div>
  </section>
